*{
	margin:0;
	padding:0;
}


#navigation-bar{
	position:sticky;	/*con sticky quiero que esté presente la barra de navegación aun cuando haga scroll */
	top:0px;
	z-index:10;
}

.navbar-brand img{
	width:130px;
	padding-left:50px;
}

.navbar {
	background: #fff;
	
}

/* Esto es para que al poner el mouse sobre la etiqueta, resalte con un color
   !important es para dar prioridad a la regla en la cascada de CSS*/
#navigation-bar ul li a:hover{
	color: #0080ff!important
}

.navbar-nav li a{
	float:right;
	text-align:left;
}
.navbar-nav li{
	padding: 0 30px;         /*0px top down y 10 px right left	*/

}

.navbar-toggler
{
	border:none!important;
}

.nav-link{
	color:#555!important;
	font-weight:500;
	font-size:18px;
}

.collapse{
	margin-right:80px;
}

/*falta CSS de las otras secciones*/

/*----------  EQUIPO  --------*/
#equipo{
	padding-top:50px;
	padding-bottom:50px;
	color: #555;
}

h1{
	text-align:center;
	color: #555;
	padding-bottom:10px;	
}

h1::after{		/*carga el contenido y luego el estilo*/
	content:'';
	background: #0080ff;
	display:block;
	height:3px;
	width:200px;
	margin:20px auto 5px;   /*top 20px bottom 5 px y right y left  se adaptan con 'auto' a las medidas*/
}

.profile-pic{
	margin-top:25px;
}

.profile-pic .img-box{
	opacity:1;
	display:block;
	position:relative;
}

.profile-pic .img-box img{
	filter:grayscale(1);
}

.profile-pic .img-box img:hover{
	filter:grayscale(0);
}







